body {direction:rtl; unicode-bidi:embed;}

.slick-slider, #swipebox-slider, .reviews_tab {direction:ltr;}
.slick-slider .slick-slide {direction:rtl;text-align:right;}

@media only screen and (min-width: 751px){
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{float:right;}
}

.grid-centered {
    float:none;
}

.grid-layout.columns-size-2 .grid-4:nth-of-type(2n+1){clear:right}
.grid-layout.columns-size-3 .grid-4:nth-of-type(3n+1){clear:right}
.grid-layout.columns-size-4 .grid-4:nth-of-type(4n+1){clear:right}

.alignleft		{float:right}
.alignright		{float:left}

.text-left		{text-align:right}
.text-right		{text-align:left}

.message [class*="icomoon-"]{left:auto;right:5px;margin-right:0;margin-left:15px}

/* Sidebar in Mobile View */
#pageslide,#pageslide .sub-menu{left:auto;right:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}#pageslide .menu .sub-menu-open,.mobile-menu-open #pageslide{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.mobile-menu-open .site-content,.mobile-menu-open .top-strip{-webkit-transform:translate3d(-70%,0,0);transform:translate3d(-70%,0,0)}

@media only screen and (max-width: 960px) {
.site-content::after{right:auto;left:0}.lines-button .lines:after,.lines-button .lines:before{left:auto;right:0}.lines-button{padding-left:0;padding-right:15px}
#pageslide .sub-menu-arrow{border-left:none;border-right-width:1px;border-right-style:solid}#pageslide .menu .sub-menu{border-right:none;border-left-width:1px;border-left-style:solid}
#pageslide .sub-menu-arrow::after,#pageslide .sub-menu-back i::before{transform:rotate(180deg);display:inline-block}
.mobilewhite{-webkit-box-shadow:inset 1.5em 0 1.5em -.75em rgba(0,0,0,.1);box-shadow:inset 1.5em 0 1.5em -.75em rgba(0,0,0,.1)}
.mobiledark{-webkit-box-shadow:inset 1.5em 0 1.5em -.75em rgba(0,0,0,.9);box-shadow:inset 1.5em 0 1.5em -.75em rgba(0,0,0,.9)}
}

[class*="read-more"],
.title-with-sep .title,
.title-with-sep .entry-title {
	white-space:nowrap;
}

.see-more i {
    padding-left:0;
    padding-right:10px;
}

.header-search .social {
    float:left;	
}
	
.header-banner .ad-block {
    float:left;	
}

.main-menu .sub-menu,
.secondary-menu .sub-menu {
	left:auto;
    right:0;
}

.sub-menu .sub-menu {
	left:auto;
    right:180px;
}

.secondary-menu .sub-menu .menu-item-has-children > a:before,
.main-menu .sub-links-only .sub-menu .menu-item-has-children > a:before {
    right:auto;
    left:10px;
}

.main-menu > ul > li > a {
	float:right;
}

.main-menu > ul > li > a > span {
    padding-left:0;
    padding-right:15px;
}

.main-menu > ul > li > a > span:after {
    float:left;
    margin-left:0;
    margin-right:15px;
}

.main-menu .sub-menu .sub-links a:after {
    left:auto;
    right:0;
}

/* mega menu */
.main-menu .sub-posts {
	float:right;
}

.main-menu .sub-posts .mega-menu-posts {
    float:right;
}

.main-menu .sub-posts .mega-menu-posts .mega-menu-item {
    float:right;
}

.main-menu .sub-menu-two-columns .sub-menu .sub-posts {
	float:left;
}

.main-menu .sub-menu-two-columns > .sub-menu > .sub-links {
	float:right;
}

.main-menu .sub-menu-two-columns .sub-menu .sub-links li {
    text-align:left;
}

.main-menu .sub-menu-two-columns .sub-menu .sub-links li a {
    margin-right:0;
    margin-left:30px;
}
	
.main-menu .sub-menu-two-columns .mega-menu-posts-title {
    padding-right:0;
    padding-left:30px;
}

.main-menu > ul > .sub-menu-columns > .sub-menu > .sub-links {
	float:right;
	text-align:right;
}
	.main-menu > ul > .sub-menu-columns > .sub-menu > .sub-links > li {
		float:right;
	}

.main-menu > ul > .sub-menu-columns-2 > .sub-menu {
	left:auto;
	margin-left:0;
	right:50%;
	margin-right:-200px;
}

.main-menu > ul > .sub-menu-columns-3 > .sub-menu {
	left:auto;
	margin-left:0;
	right:50%;
	margin-right:-300px;
}
	.main-menu > ul > [class*="sub-menu-columns-"]:first-child > .sub-menu {
		left:auto;
		right:0;
		margin-right:0;
	}

	.main-menu > ul > [class*="sub-menu-columns-"]:last-child > .sub-menu {
		left:auto;
		right:0;
		margin-left:0;
        
		right:auto;
		left:0;
		margin-right:0;
	}
		.main-menu > ul > [class*="sub-menu-columns-"] > .sub-menu > .sub-links > li:nth-of-type(4n+1) {
			clear:right;
		}
	
	.main-menu > ul > .sub-links-only > .sub-menu {
		text-align:right;
		left:auto;
        right:50%;
		transform:translateX(50%);
	}

		.color-site-white .secondary-menu .sub-menu li:first-child:after {
			left:auto;
			margin-left:0;
			right:25%;
			margin-right:-5px;
		}
		
		.color-site-white .secondary-menu .sub-menu li:first-child:before {
			left:auto;
			margin-left:0;
			right:25%;
			margin-right:-8px;
		}

.secondary-menu .sub-menu .menu-item-has-children > a:before,
.main-menu .sub-links-only .sub-menu .menu-item-has-children > a:before {
  display:block;
    transform:rotate(180deg);
    top:12px;
}

.global-sliders .prev-arrow,
.global-sliders .next-arrow,
.global-sliders .slick-dots{
		right:auto;
        left:5%;
	}

    .global-sliders .slick-dots button:after {
        left:auto;
        right:1px;
    }

    .above-content-caption .prev-arrow {
        right:auto;
        left:0;
    }

    .above-content-caption .next-arrow {
        right:auto;
        left:40px;
    }

.above-content-caption .slick-dots {
    right:auto;
    left:100px;
}

    .above-content-caption .slick-dots button:after {
        left:auto;
        right:1px;
    }

.custom-gallery .gallery-item {
	float:right;
}

.custom-gallery .gallery-item:not(:nth-of-type(4n+1)) {
	border-right:none;
	border-left:5px solid #fff;
}

.custom-gallery .gallery-item:nth-of-type(4n) {
	border-left:0;
}


.custom-gallery .gallery-item .gallery-caption {
	left:auto;
    right:0;
}

/*
 * Gallery Carousel
 */
.gallery-carousel .gallery-item {
	float:right;
}

.content-over-image .entry-link {
	left:auto;
    right:0;
}
    .entry-header .entry-meta span:not(.written-by) {
        margin-right:0;
        margin-left:-3px;
    }

.entries .format-quote .entry-quote:after {
    left:auto;
    right:0;
}
figure .icon:before {
    right:auto;
    left:2%;
}

.above-content figure .icon:before {
    right:auto;
    margin-right:0;
    left:50%;
    margin-left:-14px;
}


.list-layout .post-item,
.list-layout .entry-header {
	text-align:right;	
}

.list-layout .post-item .entry-footer .read-more-link,
.small-list-layout .post-item .entry-footer .read-more-link,
.list-layout .entry-footer .social-sharing,
.small-list-layout .entry-footer .social-sharing {
    float:right;
}

.list-layout .entry-image,
.small-list-layout .entry-image {
    margin-right:0;
    margin-left:30px;
}

.list-layout .entry-footer .social-sharing:after,
.small-list-layout .entry-footer .social-sharing:after {
    margin-left:30px;
    margin-right:15px;
}

.featured-posts .carousel-navigation {
    right:auto;
    margin-right:0;
    left:0;
    margin-left:-8px;
}

    .featured-posts .carousel-navigation .prev-arrow {
        left:auto;
        right:0;
    }

    .featured-posts .carousel-navigation .next-arrow {
        right:auto;
        left:0;
    }

.penta-box .column-right {
    float:left;
}

.media-posts .slick-dots li button {
    left:auto;
    right:0;
}

.latest-posts .column-right .post-item,
.latest-posts .column-right .entry-header {
    text-align:right;
}

/* Media Content loader */
.post-item .media-content,
.media-posts .media-content {
    left:auto;
    right:0;
}

.latest-reviews .post-item {
    float:right;
}

.entry-content ol,
.entry-content ul {
	padding-left:0;
    padding-right:30px;
}

.single-social .add-comment {
	right:auto;
    left:0;
}

.single-social .social-sharing .share-more-items {
    left:auto;
    margin-left:0;
    right:50%;
    margin-right:-75px;
}

.single-social .button-layout .share-item {
    float:right;
}

.single-social .link-layout .share-item:first-child {
    padding-right:0;
    margin-right:0;
}

.single-social .social-minimal .share-item:nth-child(1):after,
.single-social .social-minimal .share-item:nth-child(2):after {
    margin-left:0;
    margin-right:30px;
}

.single-author-box .author-posts .entry-header {
	text-align:right;
}

.author-social li {
    margin-right:0;
    margin-left:15px;
}

.related-posts .next-arrow {
    right:auto;	
    left:63px;	
}

.related-posts .prev-arrow {
    right:auto;
    left:15px;	
}

.related-posts .see-more {
	right:auto;
    left:0;
}

.tab-box .tab-box-button li {
    float:right;
    margin-right:0;
    margin-left:30px;
}

.pagination .next i,
.pagination .prev i {
    display:inline-block;
	-webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

/* Slide dock */
.slide-dock {
	right:auto;
    left:-361px;
}

.rtl .slide-dock-on {
	transform:translate(360px,0);
    -webkit-transform:translate(360px,0);
    -o-transform:translate(360px,0);
    -moz-transform:translate(360px,0);
}

.rtl .slide-dock-off {
	transform:translate(-360px,0);
    -webkit-transform:translate(-360px,0);
    -o-transform:translate(-360px,0);
    -moz-transform:translate(-360px,0);
}

.no-csstransforms .slide-dock-on 	{
    right:auto;
    left:0;
}

.close-dock {
	left:auto;
    right:-15px;
}

.nav-next {
    float:left;
    text-align:left;
}

.nav-previous {
    float:right;
}
	.comment-list .comment-body .reply {
		right:auto;
        left:0;
	}

	.comment-list .comment-body .reply {
		right:auto;
        left:0;
	}

.comment-list .comment-meta,
.comment-list .comment-body .comment-content {
	margin-left:0;
    margin-right:100px;
}
	
.comment-list .comment-author .avatar {
	left:auto;
    right:0;
}

.comment-list .children {
	margin-left:0;
    margin-right:30px;
}

.comment-form-url,
.comment-form-email,
.comment-form-author {
    float:right;
    margin-left:0;
     margin-right:3%;
}
    .comment-form-author {
        margin-right:0;
    }

.screen-reader-text {
    left:auto;
    right:-999em;
}

/* 
 * Author Page
 */	
.author-page .column-2 {
	float:left;	
}


.search-form input[type="text"] {
	padding-left:0;
    padding-right:15px;
}

.search-form button {
	right:auto;
    left:0;
}

.header .search-form,
.top-strip .search-form {
	float:left;	
}
	.header .search-form input[type="text"],
    .top-strip .search-form input[type="text"] {
		right:auto;
        left:0;
	}

.entry-image .score-outer {
    left:auto;
    right:0;
    text-align:left;
}

.entry-image .score-line {
	left:auto;
    right:0;
	text-align:left;
}

.entry-breakdown .total {
	float:left;
}

.sitemap .trigger {
    padding-left:0;
    padding-right:40px;
}

.sitemap .trigger:after,
.sitemap .trigger.active:after {
	right:auto;
    left:40px;
}

.sitemap .row ul {
    padding-left:0;
    padding-right:40px;
}
	
.top-strip .social {
	float:left;
	margin-right:0;
    margin-left:10px;
}

.rtl .widget-area-1 .widget,
.rtl .col-2 .widget-area:first-child {
	border-right:none;	
}

.rtl .widget-area-2,
.rtl .widget-area-3,
.rtl .widget-area-3 .widget,
.rtl .col-2 .widget-area:last-child {
	border-left:none;	
}

.widget_ti-about-site img {
	float:right;
    margin-left:15px;
    margin-right:0;
}

.widget_recent_entries li,
.widget_recent_comments li {
	padding-left:0;
    padding-right:15%;
}
	.widget_recent_entries li:before,
	.widget_recent_comments li:before {
		left:auto;
        right:0;
	}

    .widget-posts-entries .widget-post-item:not(:nth-child(1)) .entry-image {
        float:right;
    }

    .widget-posts-entries .widget-post-item:not(:nth-child(1)) .widget-post-details {
        left:auto;
        right:34%;
    }

.review-bars .total {
	float:left;
}

.widget_ti_site_authors .prev-arrow {
    float:right;
    margin-right:35%;
}

.widget_ti_site_authors .next-arrow {
    float:left;
    margin-left:35%;
}

.widget_ti_site_authors .authors-list .author-avatar {
	float:right;
	margin-right:0;
    margin-left:5%;
}

.widget_ti_site_authors .authors-list .author-name {
    float:right;	
}

.widget_ti_latest_reviews .rating-total-indicator {
    left:auto;
    right:-15px;
}

.footer-sidebar .widget_ti_latest_reviews .rating-total-indicator {
    left:auto;
    right:5px;
}

.widget_pages .children,
.widget_nav_menu .children,
.widget_categories .children {
			padding-left:0;
            padding-right:5px;
}
	.widget_nav_menu ul ul li a,
	.widget_categories ul ul li a {
			padding-left:0;
            padding-right:20px;
	}
		.widget_nav_menu ul ul ul li a,
		.widget_categories ul ul ul li a {
			padding-left:0;
            padding-right:40px;
		}

.widget_ti_most_commented li:after {
	left:auto;
    right:0;
}

.widget_ti_most_commented li a {
	padding-right:0;
    padding-left:5px;
}

.widget_ti_most_commented span {
	right:auto;	
    left:0;
}

.widget_ti_most_commented span i:before {
	left:auto;
    right:1px;
}

.widget_ti_most_commented span i:after {
	left:auto;
    right:8px;
}

/* Meta & Archive */
.widget_meta ul,
.widget_archive ul {
	padding-left:0;	
    padding-right:15px;	
}

.widget_ti_latest_comments figure {
	float:left;
	margin-left:0;
    margin-right:15px;
}


.widget_ti_latest_comments .commentnum {
	float:right;
	margin-right:0;
    margin-left:15px;
}

.widget_ti_latest_comments .comment-text:after {
	right:auto;
	margin-left:0x;
	left:18px;
	margin-right:-14px;
}

.widget_ti_latest_comments .comment-text:before {
	right:auto;
	margin-left:0;
	left:17px;
	margin-right:-15px;
}

.text-left .title-text,
.text-left .social-box,
.text-left .widget:not(.slide-dock) h3,
.text-left .single-box-title,
.text-left .comment-reply-title,
.text-left .social-center,
.text-left .cat-description,
.text-left .widget-post-title,
.text-left .main-menu > ul,
.text-left .entry-header,
.text-left .entries .post-item,
.text-left .home-section .section-header,
.text-left .single-social .social-sharing,
.text-left .widget-posts-entries .widget-post-item:nth-child(1) .widget-post-details,
.text-left .widget-slider .widget-post-title,
.text-left .widget-slider .widget-post-details,
.text-left .widget-posts-classic-entries .widget-post-title,
.text-left .widget-posts-classic-entries .widget-post-details {
	text-align:right;
}

.text-left .cat-description,
.text-left .title-with-sep .title,
.text-left .title-with-sep .entry-title {
	margin-right:0;
	padding-right:0;
}

.text-left .all-news-link .read-more {
    margin-right:0;
}

/* Only on Desktop view */
@media only screen and (min-width: 751px) {	
	.col-2 .widget-area,
	.col-3 .widget-area {
		float:right;
	}

    .media-post-item .entry-header {
        text-align:right;
    }

    .featured-posts .post-item .entry-details {
        left:auto;
        right:0;
    }
    
    .featured-posts .post-item,
    .featured-posts .entry-header {
        text-align:right;
    }
    
    .featured-posts .column-right .slick-slide > div {
        float:right;
    }
	
}

@media only screen and (min-width: 959px) {
   .gallery-carousel .entry-header {
        text-align:right;
        left:auto;
        right:15%;
    }
    
    .gallery-carousel .entry-header .inner-cell {
        text-align:right;
    }
}


@media only screen and (min-width: 751px) and (max-width: 959px) {    
	.related-posts .item {
        margin-left:0;
        margin-right:20px;
	}
}

@media only screen and (max-width: 750px) {
    .featured-carousel .slick-slide > div {
        float:right;
    }
    
    .featured-posts .grids,
    .featured-posts .column-right,
    .featured-posts .column-middle {
        margin-right:0;
    }
    
	.top-strip .social li ul {
		left:auto;
        right:0;
	}
	
	.slider-latest .entries {
		float:right;
	}
		.slider-latest .entries .post-item {
			float:right;
		}
		
		.slider-latest .entries .post-item:last-child {
			float:left;
		}  

    .global-sliders .prev-arrow {
        left:auto;
        right:0;
    }
    
    .global-sliders .next-arrow {
        right:auto;  
        left:0;
    }

	.custom-gallery .gallery-item,
	.custom-gallery .gallery-item:not(:nth-of-type(4n+1)) {
		border-left:0;	
	}

		.widget-slider .prev-arrow {
			left:auto;
            right:20px;
		}
		
		.widget-slider .next-arrow {
			right:auto;
            left:20px;
		}

    .single-author-box .author-info,
    .single-author-box .author-social {
        margin-right:0;
    }

}

/* Woocmmerce */
.list-layout .star-rating {
	float:right;
}

.side-shopping-cart .ssc-button {
    right:auto;
    left:0;
}

.side-shopping-cart.is-open .widget_shopping_cart {
    right:auto;
    left:0;
}

.widget_shopping_cart .remove {
    float:left;
}

.product_list_widget li img {
    float:right;
    margin-right:0;
    margin-left:10px;
}

.product-category .entry-header {
    text-align:right;
}